@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?md8wsl');
    src:    url('fonts/icomoon.eot?md8wsl#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?md8wsl') format('truetype'),
        url('fonts/icomoon.woff?md8wsl') format('woff'),
        url('fonts/icomoon.svg?md8wsl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
    content: "\e911";
}
.icon-menu:before {
    content: "\e910";
}
.icon-envelop:before {
    content: "\e900";
}
.icon-user:before {
    content: "\e901";
}
.icon-lupa:before {
    content: "\e902";
}
.icon-lock:before {
    content: "\e903";
}
.icon-heart:before {
    content: "\e904";
}
.icon-play:before {
    content: "\e905";
}
.icon-pause:before {
    content: "\e906";
}
.icon-stop:before {
    content: "\e907";
}
.icon-backward:before {
    content: "\e908";
}
.icon-forward:before {
    content: "\e909";
}
.icon-volume-high:before {
    content: "\e90a";
}
.icon-shuffle:before {
    content: "\e90f";
}
.icon-arrow-left:before {
    content: "\e90b";
}
.icon-share:before {
    content: "\e90c";
}
.icon-facebook:before {
    content: "\e90d";
}
.icon-twitter:before {
    content: "\e90e";
}

